.background_logo {
    z-index: 0;
    // opacity: 50%;

    img {
        object-fit: contain;
        opacity: 40%;
        transform: translateX(50%);
    }
}


.object_cover_contain {
    object-fit: cover;
    transition-duration: 1s;

    &:hover {
        object-fit: contain;
    }
}